<% provide(:title, 'About us') %>
<h1>About</h1>
<p>Logiloans is a NYC-based software company. We have worked hard to create a web application to help individuals lend money to each other easily.</p>