<% provide(:title, 'Help') %>
<h1>Help</h1>
<h3>FAQ</h3>
<ul>
	<li>
		<p class="question">Does Logiloans make loans?</p>
		<p class="answer">No, Logiloans does not lend money to borrowers. For the time being, Logiloans helps lenders and borrowers who already know that they want to work together.</p>
	</li>
	<li>
		<p class="question">Does Logiloans guarantee loans?</p>
		<p class="answer">No. Logiloans does not guarantee loans. We recommend that lenders only lend to borrowers who they know well can and will repay them.</p>
	</li>
</ul>
<h3>Tutorials</h3>	