<h1>Logiloans</h1>
<h3><i>Loans that make sense</i></h3>
<p>Thinking of lending money to someone you know?</p>
<p>Thinking of borrowing money from someone you know?</p>
<p>Earning little to no interest on your savings?</p>
<p>Paying high interest rates on credit cards or loans?</p>

<p>If you answered, "Yes," to any of the questions above, maybe Logiloans can help.</p>