<div class="center hero-unit">
	<h1>Logiloans</h1>
	
	<h2><i>Loans that make sense</i></h2>
	
	<p>Thinking of lending money to someone you know?</p>
	<p>Thinking of borrowing money from someone you know?</p>
	<p>Earning little to no interest on your savings?</p>
	<p>Paying high interest rates on credit cards or loans?</p>
	
	<p>If you answered, "Yes," to any of the questions above, maybe Logiloans can help.</p>
	
	<%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
</div>
